nav {
  height: 30vh;
  background-color: #1e202b;
}
.nav-link {
  color: white;
  margin-left: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.nav-link:hover {
  color: #009ad8;
  border: 1px solid #009ad8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.search-bar {
  background-color: #1e202b;
}
input[type="text"] {
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  border: none;
  margin-left: 1rem;
}
input[type="text"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.upper {
  background-color: #2d303d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lower {
  background-color: #323544;
}
.todayTemp {
  font-size: 70px;
  font-family: "Roboto", "Open Sans", sans-serif;
  color: white;
  font-weight: bold;
}
.status-txt {
  color: #009ad8;
}
.middle {
  background-color: #222531;
}
.lower.middle {
  background-color: #262936;
}
.hero-area {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-color: #1e202b;
  padding-bottom: 3rem;
  
}
body{
  overflow-y: hidden;
}
.data-table {
  height: 100%;
  background-color: #262936;
}
.lastOne {
  background-color: #323544;
}
@media only screen and (max-width:768px) {
  body{
  overflow-y: visible;

  }
  
}